body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
    max-width: 640px;
    margin: 0 auto;
}

ul {
    list-style: none
}

input[type="datetime-local"]:not(.has-value):before{
    color: #aaa;
    content: attr(placeholder);
}

.disabled {
    pointer-events: none;
    border-color: transparent;
    cursor: not-allowed;
    opacity: 0.45;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.weui-cell_link {
    color: #999;
}

.weui-cells {
    font-size: 16px;
}

.weui-navbar {
    max-width: 640px;
}

.weui-uploader__file {
    overflow: hidden;
}

.page, body {
    background-color: #f8f8f8
}

.page .clear-both {
    clear:both;
}

.link {
    color: #1aad19
}

.footer {
    position: fixed;
    max-width: 640px;
}

.footer .iconfont {
    font-size: 24px;
    line-height: normal;
    position: relative;
}

.footer .weui-bar__item_on .iconfont {
    color: #09BB07
}

.fixed-bottom-btn {
    position: fixed;
    max-width: 640px;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
}

.fixed-bottom-btn:after {
    border: none;
}

.page {
    opacity: 0;
    display: none;
}

.page.js_show {
    opacity: 1;
    display: block;
}

.page__hd {
}

.page__bd_spacing {
    padding: 0 15px
}

.page__ft {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center
}

.page__ft img {
    height: 19px
}

.page__ft.j_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.page__title {
    text-align: left;
    font-weight: 400;
    color: #333;
}

.page__desc {
    margin-top: 5px;
    color: #888888;
    text-align: left;
    font-size: 14px
}

.page .placeholder {
    color: #999
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#999
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999
}

.icon-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    border-radius: 50%;
    background-color: #eee;
    color: #555555;
    text-align: center;
}

.cart-btn {
    position: fixed;
    z-index: 10;
    bottom: 71px;
    left: 20px;
    background-color: #fff;
    box-shadow: 0 0 3px #ddd;
}

.page.home .page__hd {
    height: 120px;
    position: relative;
    overflow: hidden
}

.page.home .total-income {
    color: #fd763c;
}

.page.home .income {
    color: #09BB07;
}

.page.home .count {
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
}

.page.home .count-title {
    font-size: 14px;
}

.page.home .count .unit {
    font-size: 12px;
    font-weight: normal;
}

.page.home .page__hd .bg-photo {
    width: 100%;
    height: 200px;
}

.page.home .page__hd .nickname {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 110px;
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

.page.home .page__hd .head-photo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -30px;
    border: solid 1px #eee;
    padding: 1px;
    z-index: 2;
    background-color: #fff;
    border-radius: 100%;
}

.page.home .page__hd .head-photo img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.page.home .weui-grid__icon {
    line-height: 28px;
    text-align: center;
    position: relative
}

.page.home .weui-grid__icon .weui-badge {
    position: absolute;
    top: -8px;
    right: -14px
}

.page.shop {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 640px;
    margin: 0 auto;
}

.page.shop .page__hd {
    height: 270px;
    position: relative;
    overflow: visible
}

.page.shop .page__hd .bg-photo {
    width: 100%;
    height: 250px;
    overflow: hidden
}

.page.shop .page__hd .nickname {
    position: absolute;
    bottom: 28px;
    right: 90px;
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

.page.shop .page__hd .head-photo {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 10px;
    border: solid 1px #eee;
    padding: 1px;
    z-index: 2;
    background-color: #fff
}

.page.shop .page__hd .head-photo img {
    width: 100%
}

.page.shop .header-btn {
    color: #ffffff;
    position: absolute;
    top: 10px;
    text-shadow: 1px 1px 1px #000;
    font-size: 14px;
}

.page.shop .header-btn .iconfont {
    font-size: 14px
}

.page.shop .btn-account {
    left: 10px;
}

.page.shop .btn-follow {
    right: 10px;
}

.page.shop .btn-fenxiang {
    right: 80px;
}

.page.shop .camera {
    padding: 15px 15px
}

.page.shop .desc {
    text-align: right;
    color: #999999;
    font-size: 14px;
    padding: 10px 15px
}

.page.shop .price {
    font-size: 14px;
    color: #fd763c;
}

.page.shop .icon-camera {
    font-size: 80px;
    color: #ebebeb
}

.page.active {
    background-color: #fff
}

.page.active .page__bd .weui-panel:after {
    border: none
}

.page.active .weui-search-bar {
    z-index: 3;
}

.page.active .searchbar-result p {
    color: #999;
}

.page.active .searchbar-result.weui-cells {
    margin-top: 0;
}

.page.active .searchbar-result.weui-cells:before {
    border: none;
}

.page.active .searchbar-no-result {
    text-align: center;
    padding: 10px 0;
}

.page.active .weui-media-box__title {
    font-size: 15px;
}

.page.active .weui-media-box__info {
    overflow: visible;
}

.page.active .weui-media-box__desc,
.page.active .weui-media-box__info {
    font-size: 14px;
}

.page.active .product-img-list {
    flex-wrap: wrap;
}

.page.active .product-img {
    width: 30%;
    margin-right: 5px;
    margin-top: 5px;
}

.page.active .product-img {
    height: 100px;
    overflow: hidden;
}

.page.active .product-img:only-child {
    height: auto;
}

.page.active .product-img:only-child {
    width: 50%;
}

.page.active .product-img:only-child img {
    max-width: 100%;
    max-height: none !important;
}

.page.active .searchbar-result {
    font-size: 14px;
}

.page.active .weui-media-box_appmsg {
    align-items: flex-start
}

.page.active .weui-media-box_appmsg .weui-media-box__hd {
    width: 40px;
    height: 40px
}

.page.active .position .iconfont {
    font-size: 13px
}

.page.active .price {
    font-size: 14px;
    color: #fd763c;
}

.page.active .pick {
    color: #1AAD19
}

.page.active .cancel {
    color: #999;
    position: absolute;
    left: -30px;
}


.page.active .num-operator {
    float: right;
}

.page.active .num-operator li i {
    font-size: 100%;
}

.page.active .num-operator li {
    color: #333;
    float: left;
    margin-left: 10px;
    font-size: 20px;
    position: relative;
}

.page.active .num-operator li.count{
    width: 20px;
}

.page.active .animate-add-cart {
    position: absolute;
    top: -25px;
    color: #fd763c;
    font-size: 14px;
}

.gallery-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
}

.page.delivery-address {
    padding-bottom: 60px;
}

.page.delivery-address .weui-media-box_appmsg {
    position: relative;
    z-index: 1;
    background: #fff;
}

.page.delivery-address .weui-cell_swiped {
    position: relative;
}

.page.delivery-address .weui-cell_swiped .weui-swiped-btn_warn {
    line-height: 70px;
}

.page.delivery-address. .weui-media-box__info {
    padding-bottom: 0;
}

.page.delivery-address .weui-media-box__hd {
    width: 40px;
    margin: 0;
    text-align: left;
}

.page.delivery-address .page__title {
    font-size: 15px;
    font-weight: bold;
}

.page.delivery-address .weui-media-box__info__meta {
    color: #999;
}

.page.delivery-address .icon-selected {
    color: #1AAD19;
}

.page.delivery-address .empty {
    margin-top: 100px;
    text-align: center;
}

.page.delivery-address .empty .icon-logistic {
    font-size: 100px;
    color: #aaa;
}

.page.delivery-address .empty .title {
    margin-top: 15px;
    font-size: 16px;
    color: #555
}

.page.cart .weui-media-box__hd {
    width: 40px;
    height: 40px;
}

.page.cart .weui-media-box__title {
    font-size: 14px;
}

.page.cart .icon-delete {
    float: right;
}

.page.cart .weui-media-box_appmsg {
    position: relative;
    z-index: 1;
    background: #fff;
}

.page.cart .weui-cell_swiped {
    position: relative;
}

.page.cart .weui-cell_swiped .weui-swiped-btn_warn {
    line-height: 50px;
}

.page.cart .weui-panel__ft .weui-cell_link {
    color: #999
}

.page.cart .price {
    font-size: 14px;
    color: #fd763c;
}

.page.cart .cart-empty {
    margin-top: 100px;
    text-align: center;
}

.page.cart .cart-empty .icon-cart {
    font-size: 100px;
    color: #aaa;
}

.page.cart .cart-empty .title {
    margin-top: 15px;
    font-size: 16px;
    color: #555
}

.page.cart .cart-empty .desc {
    margin-top: 5px;
    font-size: 14px;
    color: #999
}

.page.cart .cart-empty .weui-btn {
    margin-top: 20px;
}

.page.cart .pay-btn {
    font-size: 14px;
    line-height: normal;
    padding: 5px 20px;
}

.page.cart-settle {
    padding-bottom: 60px;
}

.page.cart-settle .card {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 5px #eee;
}

.page.cart-settle .price {
    font-size: 14px;
    color: #555;
}

.page.cart-settle .count {
    font-size: 14px;
    margin-right: 40px;
    color: #333;
}

.page.cart-settle .total-price {
    font-weight: bold;
    font-size: 20px;
    color: #fd763c;
}

.page.cart-settle .summary {
    color: #333;
}

.page.cart-settle .head {
    text-align: center;
    padding-bottom: 10px;
    background: #1c1b21;
}

.page.cart-settle .head:before {
    border: none;
}

.page.cart-settle .head a {
    color: inherit;
}

.page.cart-settle .head p {
    line-height: 30px;
    color: #fff
}

.page.cart-settle .title {
    font-size: 15px;
    color: #555;
}

.page.cart-settle .desc {
    text-align: right;
    font-size: 15px;
    color: #555;
}

.page.cart-settle .weui-panel__hd:after {
    border: none;
}

.page.cart-settle .weui-panel__hd {
    color: #333;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.page.cart-settle .order-head-line {
    width: 100%;
    margin-top: 10px;
    line-height: 1.6em;
    font-size: 14px;
    text-align: center;
    border-top: dashed 1px #ddd;
}

.page.cart-settle .order-head-tips {
    position: relative;
    top: -0.9em;
    padding: 0 .55em;
    color: #555;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    z-index: 99;
}

.page.cart-settle .products .weui-panel__bd {
    margin-top: -30px;
}

.page.cart-settle .products .weui-cell:before {
    border-color: #eee;
}

.page.cart-settle .products .cell-total:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    color: #ddd;
    border-top: dashed 1px #ddd;
    right: 15px;
}

.page.cart-settle .weui-cell,
.page.cart-settle .weui-panel__hd {
    font-size: 15px;
}

.page.product-order .weui-panel__hd {
    color: #333;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 15px;
}

.page.product-order .weui-media-box {
    padding: 30px 15px;
}

.page.product-order .weui-media-box__hd {
    width: 40px;
    height: 40px;
}

.page.product-order .price {
    font-size: 14px;
    margin-top: 10px;
}

.page.product-order .status {
    font-size: 14px;
    color: #777
}

.page.product-order .weui-media-box_appmsg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}


.page.product-order .empty {
    margin-top: 100px;
    text-align: center;
}

.page.product-order .empty .icon-form {
    font-size: 100px;
    color: #aaa;
}

.page.product-order .empty .title {
    margin-top: 15px;
    font-size: 16px;
    color: #555
}

.page.product-order .empty .desc {
    margin-top: 5px;
    font-size: 14px;
    color: #999
}

.page.product-order .empty .weui-btn {
    margin-top: 20px;
}

.page.product-order-detail .weui-cell {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.page.product-order-detail .head {
    text-align: center;
    padding: 20px 0;
}

.page.product-order-detail .head img {
    width: 80px;
    height: 80px;
}

.page.product-order-detail .card {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 5px #eee;
}

.page.product-order-detail .price {
    color: #555;
}

.page.product-order-detail .count {
    margin-right: 40px;
    color: #333;
}

.page.product-order-detail .weui-cell__bd {
    color: #555;
}

.page.product-order-detail .weui-panel__hd {
    color: #333;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.page.product-order-detail .weui-media-box__hd {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.page.product-order-detail .weui-media-box__hd img {
    width: 100%;
    height: 100%;
}

.page.product-order-detail .total-price {
    color: #fd763c;
}

.page.product-order-detail .title {
    width: 100px;
}

.page.product-order-detail .desc {
    text-align: right;
    color: #555;
}

.page.product-order-detail .weui-cell_link {
    color:#555
}

.page.product-order-detail .weui-panel__hd:after {
    border: none;
}

.page.product-order-detail .products .weui-cell:before {
    border-color: #eee;
    right: 15px;
}

.page.product-order-detail .products .weui-panel__hd:after,
.page.product-order-detail .products .cell-total:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    border-top: dashed 1px #ddd;
    right: 15px;
}

.page.product-order-detail .weui-cell,
.page.product-order-detail .weui-panel__hd {
    font-size: 15px;
}

.page.customer-order .weui-panel {
    margin-top: 50px;
}

.page.customer-order .weui-panel__hd {
    color: #333;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 15px;
}

.page.customer-order .weui-media-box {
    padding: 30px 15px;
}

.page.customer-order .weui-media-box__hd {
    width: 40px;
    height: 40px;
}

.page.customer-order .status {
    font-size: 14px;
    color: #777
}

.page.customer-order .weui-media-box_appmsg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}


.page.customer-order .empty {
    margin-top: 100px;
    text-align: center;
}

.page.customer-order .empty .icon-form {
    font-size: 100px;
    color: #aaa;
}

.page.customer-order .empty .title {
    margin-top: 15px;
    font-size: 16px;
    color: #555
}

.page.customer-order .empty .desc {
    margin-top: 5px;
    font-size: 14px;
    color: #999
}

.page.customer-order .empty .weui-btn {
    margin-top: 20px;
}

.page.customer-order-detail .weui-cell {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.page.customer-order-detail .head {
    text-align: center;
    padding: 20px 0;
}

.page.customer-order-detail .head img {
    width: 80px;
    height: 80px;
}

.page.customer-order-detail .card {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 5px #eee;
}

.page.customer-order-detail .price {
    color: #555;
}

.page.customer-order-detail .count {
    margin-right: 40px;
    color: #333;
}

.page.customer-order-detail .weui-cell__bd {
    color: #555;
}

.page.customer-order-detail .weui-panel__hd {
    color: #333;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.page.customer-order-detail .weui-media-box__hd {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.page.customer-order-detail .weui-media-box__hd img {
    width: 100%;
    height: 100%;
}

.page.customer-order-detail .total-price {
    color: #fd763c;
}

.page.customer-order-detail .title {
    width: 100px;
}

.page.customer-order-detail .desc {
    text-align: right;
    color: #555;
}

.page.customer-order-detail .weui-cell_link {
    color:#555
}

.page.customer-order-detail .weui-panel__hd:after {
    border: none;
}

.page.customer-order-detail .products .weui-cell:before {
    border-color: #eee;
    right: 15px;
}

.page.customer-order-detail .products .weui-panel__hd:after,
.page.customer-order-detail .products .cell-total:before {
    border: double 1px #ddd;
    right: 15px;
}

.page.customer-order-detail .weui-cell,
.page.customer-order-detail .weui-panel__hd {
    font-size: 15px;
}

/* ==========================================================================
   Component: product-picker
 ============================================================================ */
#product-picker {
    color: #333;
    font-size: 14px;
}

#product-picker .weui-picker__hd {
    font-size: 14px;
}

#product-picker .hd-text {
    padding-top: 10px;
}

#product-picker .confirm-btn {
    border-radius: 0;
}

#product-picker .confirm-btn:after {
    border: none;
}

#product-picker .weui-picker__bd {
    overflow-y: scroll;
    display: block;
}

#product-picker .close {
    color: #333;
}

#product-picker .product-desc {
    flex: 2;
    text-align: left;
}

#product-picker .price {
    color: #fd763c;
}

#product-picker .product-desc .product-photo {
    width: 100px;
    height: 100px;
    border: solid 1px #eee;
    padding: 1px;
    background-color: #fff;
    margin-top: -40px;
}

#product-picker .product-category {
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#product-picker .product-category li {
    float: left;
}

#product-picker .product-category li .weui-badge {
    margin-right: 15px;
    color: #333;
    background: #ddd;
    padding: 3px 10px;
    border-radius: 5px;
}

#product-picker .product-category li .weui-badge.selected {
    color: #fff;
    background: #999;
}

#product-picker .num-operator {
    text-align: center;
}

/* ==========================================================================
   Component: scrollspy
 ============================================================================ */
*[scrollspy="scrollspy"] {
    opacity: 0;
}

/* ==========================================================================
   Component: location picker
 ============================================================================ */
.map {
    display: none;
}

.map.show {
    display: block;
    position: fixed;
    top: 0;
    bottom: 51px;
    left: 0;
    right: 0;
    z-index: 499;
    height: 100%;
}

/* ==========================================================================
   Component: messager-info
 ============================================================================ */
.messager-info {
    position: fixed;
    z-index: 5000;
    width: 9.6em;
    top: 220px;
    left: 50%;
    margin-left: -4.8em;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}

.messager-info__content {
    padding: 5px 20px;
}

.page.release-product .cancel {
    color: #999
}

.page.release-product .release {
    color: #09BB07;
    text-align: right;
}

.page.gallery .gallery-page {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 60px
}

.page.gallery .gallery-page p {
    color: #fff;
    text-align: center
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

@keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

.weui-animate-slide-in {
    -webkit-animation: a .2s forwards;
    animation: a .2s forwards
}

.weui-animate-slide-out {
    -webkit-animation: b .2s forwards;
    animation: b .2s forwards
}

/* Scale down */
@-webkit-keyframes app-scale-down {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes app-scale-down {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.animation-scale-down {
    -webkit-animation: app-scale-down .5s forwards;
    animation: app-scale-down .5s forwards;
}